{% extends 'base.html' %}
{% block title %}{{ trainer | capfirst }}{% endblock title %}

{% block content %}
  <p>Has elegido el entrenador: <strong>{{ trainer | capfirst }}</strong></p>
  <h3>Información del entrenador</h3>
  <ul class="list-group">
      <li class="list-group-item">Nombre: {{ trainer.first_name }} {{ trainer.last_name }}</li>
      <li class="list-group-item">Nivel: {{ trainer.level }}</li>
      <li class="list-group-item">Fecha de Nacimiento: {{ trainer.date_of_birth }}</li>
  </ul>
  <br>
  <img class="img-thumbnail mx-auto d-block" src="{{ trainer.picture.url }}">
{% endblock content %}