{% load static %}
<html>
    <head>
        <title>Pokedex</title>
        <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="bg-primary text-white p-4 text-center">
                <h1>Mi Pokedex</h1>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/pokedex">Pokedex</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Pokemon</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Entrenadores</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
            <p class="p-2">Bienvenido a la Pokedex</p>
            <h3>Pokémon: </h3>
            <ul class="list-group">
                {% for pokemon in pokemons %}
                <li class="list-group-item">
                    <a href="pokemon/{{pokemon.pk}}">{{ pokemon | capfirst }}</a> 
                    <div>{{ pokemon.type }}</div>
                </li>
                {% endfor %}
            </ul>
            <h3>Entrenadores: </h3>
            <ul class="list-group">
                {% for trainer in trainers %}
                <li class="list-group-item">
                    <a href="trainer/{{trainer.pk}}">{{ trainer | capfirst }}</a> 
                    <div>Nivel: {{ trainer.level }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>