{% extends 'base.html' %}
{% block title %}Pokedex{% endblock title %}
{% block content %}
  <p class="p-2">Bienvenido a la Pokedex</p>
  <h3>Pokémon: </h3>
  <ul class="list-group">
      {% for pokemon in pokemons %}
      <li class="list-group-item">
          <a href="pokemon/{{pokemon.pk}}">{{ pokemon | capfirst }}</a> 
          <div>{{ pokemon.type }}</div>
      </li>
      {% endfor %}
  </ul>
  <h3>Entrenadores: </h3>
  <ul class="list-group">
      {% for trainer in trainers %}
      <li class="list-group-item">
          <a href="trainer/{{trainer.pk}}">{{ trainer | capfirst }}</a> 
          <div>Nivel: {{ trainer.level }}</div>
      </li>
      {% endfor %}
  </ul>
{% endblock content %}